<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link type="text/css" rel="stylesheet" href="css/styles.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav>
            <div id="navbar" class="nav-wrapper indigo">
              <a class="brand-logo logo"><i class="material-icons">calculate</i>Calculator</a>
              <ul class="right">
                <li><a id="history" onclick="openHistory()" class="waves-effect"><i class="material-icons">history</i></a></li>
                <li><a id="color-scheme" onclick="changeColor()" class="btn-floating waves-effect"><i class="material-icons">palette</i></a></li>
              </ul>
            </div>
          </nav>
          <ul id="slide-out" class="sidenav">
            <li>
              <ul class="collection with-heaader">
                <li class="collection-header"><div><h4 class="center-align">History</h4><a href="" onclick="deleteHistory()" id="delete_history" class="secondary-content valign-wrapper"><i class="material-icons">delete</i></a></div></li>
              </ul>
            </li>
          </ul>
          <a data-target="slide-out" class="sidenav-trigger"></a>
          <div class="row center-align">
            <blockquote>
              <h3>Welcome to a basic Calculator</h3>
            </blockquote>
            <form id="form" class="form col" onsubmit="return checkEmptyInput()">
                <div class="row">
                    <div class="input-field col">
                        <i class="material-icons prefix">123</i>
                        <input id="num1" name="numA" oninput="limitCharacters(this)" placeholder="Enter a number" type="number" step="any">
                        <label for="num1"><b>A</b></label>
                    </div>
                    <div class="input-field col">
                        <i class="material-icons prefix">123</i>
                        <input id="num2" name="numB" oninput="limitCharacters(this)" placeholder="Enter a number" type="number" step="any">
                        <label for="num2"><b>B</b></label>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <div class="col">
                            <label>
                                <input name="operation" value="add" type="radio" checked/>
                                <span><b>A + B</b></span>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <input name="operation" value="sub" type="radio"/>
                                <span><b>A - B</b></span>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <input name="operation" value="mul" type="radio"/>
                                <span><b>A * B</b></span>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <input name="operation" value="div" type="radio"/>
                                <span><b>A / B</b></span>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <input name="operation" value="mod" type="radio"/>
                                <span><b>A % B</b></span>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <input name="operation" value="pow" type="radio"/>
                                <span><b>A ^ B</b></span>
                            </label>
                        </div>
                    </p>
                </div>
                <div class="row col m4">
                    <div class="col">
                        <label><b>Show decimal</b></label>
                    </div>
                    <div class="switch col">
                        <label for="decimal-switch">
                        No
                        <input id="decimal-switch" name="showDecimal" type="checkbox">
                        <span class="lever"></span>
                        Yes
                        </label>
                    </div>
                </div>
                <div class="row col s12 center-align">
                    <button class="btn waves-effect waves-light" type="submit">Calculate
                        <i class="material-icons right">numbers</i>
                    </button>
                </div>
            <!--<div class="row col s4 offset-s4">
                    <div class="input-field col">
                      <textarea id="ans" class="materialize-textarea" maxlength="120"></textarea>
                      <label for="ans">Answer</label>
                    </div>
                </div>-->
            </form>
          </div>
          <footer id="foot" class="page-footer indigo">
            <div class="container">
              <div class="row footer-container">
                <div class="col">
                  <h5 class="white-text"><b>About</b></h5>
                  <div class="row">
                    <div class="col m8">
                      <div class="card-panel hoverable blue-grey">
                        <span class="white-text">A very basic calculator application that performs simple mathematical calculations with 2 numbers
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h5 class="white-text"><u>External links</u></h5>
                  <ul>
                    <li><i class="material-icons">link</i><a class="grey-text text-lighten-3" href="https://www.online-calculator.com/">Online Calculator</a></li>
                    <li><i class="material-icons">link</i><a class="grey-text text-lighten-3" href="https://www.calculatorsoup.com/calculators/math/basic.php">Basic Calculator</a></li>
                    <li><i class="material-icons">link</i><a class="grey-text text-lighten-3" href="https://www.mathsisfun.com/numbers/calculator.html">Calculator</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright row">
              <div class="container col offset-l10">
                <div class="col">
                  <a href="https://www.linkedin.com/"><img src="/images/linkedin.png" width="30", height="30"></a>
                </div>
                <div class="col">
                  <a href="https://github.com/s224021028/"><img src="/images/github.png" width="30", height="30"></a>
                </div>
                <div class="col">
                  <a href="https://www.youtube.com/"><img src="/images/youtube.png" width="30", height="30"></a>
                </div>
              </div>
            </div>
          </footer>

          <div id="dialog" class="modal">
            <div class="modal-content">
              <h4>Error!</h4>
              <p>A and B cannot be empty.
                <br>Click on "OK" or anywhere outside to dismiss this Dialog.
              </p>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect btn-flat"><i class="material-icons left dialog-ok">check</i>OK</a>
            </div>
          </div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="js/scripts.js"></script>
    </body>
  </html>