body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
}
form {
    margin-top: 10%;
}
.logo {
    margin-left: 1%;
}
.footer-container {
    margin-bottom: 0%;
}
.dialog-ok {
    color: green;
}